:root {
  --primary-main: rgb(0, 25, 28);
  --primary-off: rgba(0, 0, 0, 0.3);
  --primary-background: rgb(223, 223, 223);
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-main);
  font-size: 1.4rem;
  font-family: 'Roboto Slab', serif;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

#root {
  position: relative;
  min-height: 100vh;

  width: 100vw;
  height: 100vh;


  background-image: url("./Assets/background/dashboard-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: black;

  /* BUTTON - NAVBAR */
  --theme-nav-button-bg: radial-gradient(circle, #51000000, #6b0000);
  --theme-nav-button-top: 4px ridge #0e0000;
  --theme-nav-button-left: 4px groove #310000;
  --theme-nav-button-right: 4px ridge #1f0101;
  --theme-nav-button-bottom: 4px groove #230000;
  --theme-nav-button-active: radial-gradient(circle, rgba(0, 0, 0, 0.7), #a10404);

  /* BUTTON - DEFAULT */
  --theme-def-button-bg: radial-gradient(circle, #8b0000, #8b0000);
  --theme-def-button-top: 4px ridge #490000;
  --theme-def-button-left: 4px groove #310000;
  --theme-def-button-right: 4px ridge #1f0101;
  --theme-def-button-bottom: 4px groove #230000;
  --theme-def-button-active: radial-gradient(circle, #ec6a6a, #e52b2b);
  --theme-def-button-hover-bg: radial-gradient(circle, #e52b2b, #8b0000);


  /* SHADOW */
  --theme-shadow-color: rgba(255, 0, 0, 0.8);
  --theme-panel-shadow-color: rgba(24, 0, 0, 0.78);

  /* GENERIC */
  --theme-main-color: rgb(155, 4, 4);
  --theme-secondary-color: rgb(100,23,23);

  /* PANEL BACKGROUND */
  --theme-panel-bg: rgba(24, 0, 0, 0.6)
}
