.default-button{
    margin: 10px auto;
    width: 250px;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 10px 0;
    background: var(--theme-def-button-bg);
    border-top: var(--theme-def-button-top);
    border-left: var(--theme-def-button-left);
    border-right: var(--theme-def-button-right);
    border-bottom: var(--theme-def-button-bottom);
    box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

.default-button:hover{
    background: var(--theme-def-button-hover-bg);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}

.default-button:active{
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}

.unavail{
    background: radial-gradient(circle, #130808, #4b0e0e);
}
