#discover-page-container {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: calc(100vh - 20rem);

}

#discover-search-container {
    height: 100%;
    width: 30vw;
    max-width: 35rem;

    background-color: #860404;
}

#discover-cards-container {
    height: 100%;
    width: 100%;

    background-color: aqua;
}