.username-component-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    color: white;

    & section{
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    & h1 {
        font-size: 5vw;
    }
}

.username-input-field{
    width:70%;
    height: 3rem;

    border: solid white 5px;
    border-radius: 2rem;

    text-align: center;

    padding: 1rem;
    margin: 2rem;
}
