.deck-data-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    border: solid black 1px;

    box-shadow: 0 0 25px 5px black;

    background-color: rgba(0, 0, 0, 0.5);
}
.deck-data-charts-container{
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    padding: 2rem 0 2rem 0;
    position: relative;
    box-sizing: border-box;
}
.deck-data-line{
    border: 1px solid rgba(196, 196, 196, 0.6);
    height: 0;
    width: 70%;

    align-self: center;
}
